@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background-color: #e4edfc;
}
.container {
  margin: 200px auto;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.input_group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}
.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #b9cceb;
  border-radius: 5px;
  outline: none;
}
.input_group input::placeholder{
    color: #b9cceb;
}
.input_group label i {
  color: #92a6c7;
  font-size: 18px;
}
button {
  border: none;
  padding: 10px;
  border-radius: 5px;
}
button[type="submit"] {
  background-color: #3a68b8;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}
button[type="button"] {
  background-color: #fff2a5;
  margin-left: auto;
  display: block;
}
button[type="submit"]:hover {
  background-color: #284c8a;
}
button[type="button"]:hover {
  background-color: #ffec80;
}
